#header {
    font-family: Arial,Helvetica,sans-serif;
    margin: auto;
    padding: 10px;
}

ul, ol {
    list-style: outside none none;
}

.nav > li {
    float: left;
}

.nav li a {
    background-color: #fff;
    border: 1px solid #d0d0d0;
    color: #000;
    display: block;
    height: 25px;
    padding: 10px 12px;
    text-decoration: none;
    width: 150px;
    text-align: center;
}

.nav li a:hover {
    background-color: #1bbc9b;
}
.nav li ul {
    display: none;
    min-width: 150px;
    position: absolute;
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -150px;
    top: 0;
}

.insti {
    padding: 10px 30px;
}

.lang {
	padding-bottom: 3px;
    word-spacing: 10px;
}

.langStyle {
	text-decoration:none;
}

/* unvisited link */
#lang a:link {
    color: black;
}

/* visited link */
#lang a:visited {
    color: black;
}

/* mouse over link */
#lang a:hover {
    color: #1bbc9b;
}

/* selected link */
#lang a:active {
    color: black;
}

* {
    margin: 0;
    padding: 0;
}