/* LOGINPAGE */

#logonPanel{
	margin-left: 400px;
	margin-top: 100px;
}

#fieldsetContent {
width: 370px;
display: block;
padding: 0px 0px 0px 0px;
text-align: right;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px 20px 20px 20px;
text-align: center;
}

#logonWelcome {
margin: 0px 10px 15px 0px;
}

.userAndPassword {
padding: 0ex 1ex 1ex 2ex;
background-repeat: no-repeat;
background-position: 3ex center;
vertical-align: middle;
float: left;
padding-left: 2px;
}

.loginButton {
	font-size: 16px;
	width: 100px;
	height: 30px;
}

#inputUser{
	padding:2px 2px 2px 20px;
	background-position: left;
	background-repeat: no-repeat;
	background-image: url(../images/user.png);
}

#inputPassword{
	padding:2px 2px 2px 20px;
	background-position: left;
	background-repeat: no-repeat;
	background-image: url(../images/lock.png);
}

#changeLocale {
	display: inline-block;
	padding-top: 10px;
}

#changeLocale select {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	height: 30px;
	width: 185px;
	border: 1px solid #e5e5e5;
	background-color: #fbfbfb;
	color: #3D406D;
	font-weight: bold;	
}

.lang {
	padding-bottom: 3px;
    word-spacing: 10px;
}

.langStyle {
	text-decoration:none;
}

.license {
	font-size:small;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #1bbc9b;
}

/* selected link */
a:active {
    color: black;
}
