.profilesPage {
    border: 1px dashed #e5e5e5;
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

.actionMessage {
	text-align: center;
}

.errorMessage {
	text-align: center;
}

.lMargin25p{
	margin-left: 25%;
}

.lMargin40p{
	margin-left: 40%;
}

.lMargin45p{
	margin-left: 45%;
}

.pBottom20{
	padding-bottom: 20px;
}