.queriesButton {
    font-size: 18px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    width: 270px;
}

.contentQueriesButtons {
    margin: 10px;
    padding: 10px;
}

#graphs {
	margin: 10px;
	padding: 10px;
}

#gQuery {
	background-color: #f0f0f0;
    border: 1px dashed #1bbc9b;
}

#query {
	border: 1px dashed #1BBC9B;
    margin: 10px;
    padding: 10px;
}

.actionMessage {
	text-align: center;
}

.errorMessage {
	text-align: center;
}