#taskTable {
	width: 97%;
}

#emptyTable {
	width: 97%;
}

#pendingFilesButtons {
	width: 97%;
}

table {
    width: 100%;
}

th {
    height: 50px;
    text-align: center;
}

td {
    height: 40px;
    text-align: center;
}

table, th, td {
   border: 1px solid gray;
}

.radio {
	text-align: left;
	padding-left: 20%;
}

.pBottom {
	padding-bottom: 20px;
}

.actionMessage {
	text-align: center;
}

.errorMessage {
	text-align: center;
}
