#set($is_a = "#rdf('type')")
#set($P131_is_identified_by = "#ecrm('P131_is_identified_by')")	
#set($F10_Person = "#ecrm('F10_Person')")	
#set($P3_has_note = "#ecrm('P3_has_note')")

## PERSON
#if ($frbr.personID && !$frbr.personID.isEmpty())
	#foreach($entry in $frbr.personID.entrySet())
		#set($tag = $entry.getKey())
		#set($uris = $entry.getValue())
		#if ($uris && !$uris.isEmpty())
			#foreach($uri in $uris)
        		#set($person_s = "#uri('E21_Person' $uri)")
        		$person_s $is_a $F10_Person .
				#simplest_mapping_with_no_repeatable_tag ($person_s "100" "a" $root "E82_Actor_Appellation" "#ecrm('E82_Actor_Appellation')" "#ecrm('P131_is_identified_by')")
        		#simplest_mapping_with_no_repeatable_tag ($person_s "100" "c" $root "E55_Type" $E55_Type $P2_has_type)
				#simplest_mapping_with_no_repeatable_tag ($person_s "100" "q" $root "E82_Actor_Appellation" "#ecrm('E82_Actor_Appellation')" "#ecrm('P131_is_identified_by')")
				#birth_or_death_date("100" "d" $root "#ecrm('E67_Birth')" "E67_Birth" "#ecrm('P98i_was_born')" $person_s true) 
				#birth_or_death_date("100" "d" $root "#ecrm('E69_Death')" "E69_Death" "#ecrm('P100i_died_in')" $person_s false) 
				#set($placeOfBirth = $xpath.df("370","a",$record))
				#if($placeOfBirth) 
					#set($place_s = "#uri('E53_Place' $function.escape($placeOfBirth.textContent))")
					#set ($event_s = "#new_uri('E67_Birth')")
					$place_s $is_a #ecrm('E53_Place') . 
					$place_s $P3_has_note "$placeOfBirth.textContent" . 
					$event_s $is_a #ecrm('E67_Birth') . 
					$event_s #ecrm("P7_took_place_at") $place_s . 
					$person_s #ecrm('P98i_was_born') $event_s . 
				#end
				#set($placeOfDeath = $xpath.df("370","b",$record))
				#if($placeOfDeath) 
					#set($place_s = "#uri('E53_Place' $function.escape($placeOfBirth.textContent))")
					#set ($event_s = "#new_uri('E69_Death')")
					$place_s $is_a #ecrm('E53_Place') . 
					$place_s $P3_has_note "$placeOfBirth.textContent" . 
					$event_s $is_a #ecrm('E69_Death') . 
					$event_s #ecrm("P7_took_place_at") $place_s . 
					$person_s #ecrm('P98i_was_born') $event_s . 
				#end
				#simplest_mapping_with_repeatable_tag ($person_s "370" "c" $root "E53_Place" "#ecrm('E53_Place')" "#ecrm('P7_took_place_at')")
				#simplest_mapping_with_repeatable_tag ($person_s "370" "e" $root "E53_Place" "#ecrm('E53_Place')" "#ecrm('P74_has_current_or_former_residence')")
				#simplest_mapping_with_repeatable_tag ($person_s "371" "a" $root "E45_Address" "#ecrm('E45_Address')" "#ecrm('P76_has_contact_point')")
				#simplest_mapping_with_repeatable_tag ($person_s "373" "a" $root "E74_Group" "#ecrm('E74_Group')" "#ecrm('P107i_is_current_or_former_member_of')")
				#simplest_mapping_with_repeatable_tag ($person_s "374" "a" $root "E55_Type" $E55_Type $P2_has_type)
				#simplest_mapping_with_no_repeatable_tag ($person_s "375" "a" $root "E55_Type" $E55_Type $P2_has_type)
				#set($fieldsOfActivities = $xpath.dfs("372","a",$record))
				#foreach($foa in $fieldsOfActivities)
					#set($value = $function.escape($foa.textContent))
					#set($foa_s = "#uri('E55_Type' $value)")
					#set($pursuit_s = "#uri('F51_Pursuit' $value)")
					$foa_s $is_a #ecrm('E55_Type') . 
					$foa_s $P3_has_note "$value" . 
					$pursuit_s $is_a #ecrm('F51_Pursuit') .
					$pursuit_s  $P2_has_type $foa_s . 
					$person_s #ecrm('P14i_perfomed') $pursuit_s . 
				#end	
				#set($languages = $xpath.dfs("377","a",$record))
				#foreach($language in $languages)
					#set($value = $function.escape($language.textContent))
					#set($language_s = "#uri('E56_Language' $value)")
					#set($pursuit_s = "#uri('F51_Pursuit' $value)")
					$language_s $is_a #ecrm('E56_Language') . 
					$language_s $P3_has_note "$value" . 
					$pursuit_s $is_a #ecrm('F51_Pursuit') .
					$pursuit_s #ecrm('R60_used_to_use_language') $language_s . 
					$person_s #ecrm('P14i_perfomed') $pursuit_s . 
				#end	
				#set($abstract = $xpath.df("678","a",$record))
				#if($abstract) 
					$person_s $P3_has_note "$function.escape($abstract.textContent)" . 
				#end
			#end	
    	#end	
	#end	
#end
## CORPORATE BODY
#if ($frbr.corporateBodyID && !$frbr.corporateBodyID.isEmpty())
	#foreach($entry in $frbr.corporateBodyID.entrySet())
		#set($tag = $entry.getKey())
		#set($uris = $entry.getValue())
		#if ($uris && !$uris.isEmpty())
			#foreach($uri in $uris)
        		#set($corporate_s = "#uri('F11_Corporate_Body' $uri)")
        		$corporate_s $is_a #efrbroo('F11_Corporate_Body') . 
        		#simplest_mapping_with_no_repeatable_tag ($corporate_s "110" "a" $root "E82_Actor_Appellation" "#ecrm('E82_Actor_Appellation')" "#ecrm('P131_is_identified_by')")
				#simplest_mapping_with_repeatable_tag ($corporate_s "370" "e" $root "E53_Place" "#ecrm('E53_Place')" "#ecrm('P74_has_current_or_former_residence')")
				#simplest_mapping_with_no_repeatable_tag ($corporate_s "376" "a" $root "E55_Type" $E55_Type $P2_has_type)
				#set($languages = $xpath.dfs("377","a",$record))
				#foreach($language in $languages)
					#set($value = $function.escape($language.textContent))
					#set($language_s = "#uri('E56_Language' $value)")
					#set($pursuit_s = "#uri('F51_Pursuit' $value)")
					$language_s $is_a #ecrm('E56_Language') . 
					$language_s $P3_has_note "$value" . 
					$pursuit_s $is_a #ecrm('F51_Pursuit') .
					$pursuit_s #ecrm('R60_used_to_use_language') $language_s . 
					$corporate_s #ecrm('P14i_perfomed') $pursuit_s . 
				#end				
				#simplest_mapping_with_repeatable_tag ($corporate_s "371" "a" $root "E45_Address" "#ecrm('E45_Address')" "#ecrm('P76_has_contact_point')")
				#set($fieldsOfActivities = $xpath.dfs("372","a",$record))
				#foreach($foa in $fieldsOfActivities)
					#set($value = $function.escape($foa.textContent))
					#set($foa_s = "#uri('E55_Type' $value)")
					#set($pursuit_s = "#uri('F51_Pursuit' $value)")
					$foa_s $is_a #ecrm('E55_Type') . 
					$foa_s $P3_has_note "$value" . 
					$pursuit_s $is_a #ecrm('F51_Pursuit') .
					$pursuit_s  $P2_has_type $foa_s . 
					$person_s #ecrm('P14i_perfomed') $pursuit_s . 
				#end					
				#set($abstract = $xpath.df("678","a",$record))
				#if($abstract) 
					$person_s $P3_has_note "$function.escape($abstract.textContent)" . 
				#end
			#end	
    	#end	
	#end	
#end	