## SHORTCUTS
#set($is_a = "#rdf('type')")
#set($E41_Appellation = "#ecrm('E41_Appellation')")
#set($E39_Actor = "#ecrm('E39_Actor')")
#set($P3_has_note = "#ecrm('P3_has_note')")
#set($P2_has_type = "#ecrm('P2_has_type')")
#set($identifier = $xpath.one("header/identifier",$root))
#set($c = "#new_uri('Ε75_Conceptual_Object_Appellation')")
#set($s = "#uri('E73_Information_Object' $identifier.textContent)")
$c $is_a #ecrm('Ε75_Conceptual_Object_Appellation') . 
$c $P2_has_type #aliadaconcept("ISMN") . 
$c $P3_has_note "$identifier.textContent" . 
$s $is_a #ecrm('E73_Information_Object') .
$s #ecrm("P1_is_identified_by") $c . 
#set($title = $xpath.one("metadata/dc/title",$root))
#set($title_s = "#uri('E73_Information_Object' $title.textContent)")
$title_s $is_a #ecrm('E35_Title') . 
$title_s $P3_has_note "$function.escape($title.textContent)" . 
$s #ecrm('P102_has_title') $title_s .
#set($root = $xpath.one("metadata/dc", $root))
#set($creation_s = "")
## CREATOR 
#set($creators = $xpath.many("creator",$root))
#foreach($creator in $creators) 
	#set($value = $creator.textContent)
	#if ($function.isNullOrEmpty(value))
		#break;
	#end
	#set($creator_actor_appellation_s = "#uri('E82_Actor_Appellation' $value)") 	
	#set($creator_actor_s = "#uri('E39_Actor' $value)")
	#if(!$creation_s || $creation_s == "")
		#set($creation_s = "#uri('E65_Creation' $value)")
		$creation_s $is_a #ecrm('E65_Creation') . 
	#end	
	$creator_actor_appellation_s $is_a #ecrm('E82_Actor_Appellation') . 
	$creator_actor_appellation_s $P3_has_note "$function.escape($value)" . 
	$creator_actor_s $is_a #ecrm('E39_Actor') . 
	$creator_actor_s #ecrm('P131_is_identified_by') $creator_actor_appellation_s . 
	$creation_s #ecrm('P14_carried_out_by') $creator_actor_s . 
	$s #ecrm('P94i_was_created_by') $creation_s . 	
#end
## CONTRIBUTOR 
#set($creators = $xpath.many("contributor",$root))
#foreach($creator in $creators) 
	#set($value = $creator.textContent)
	#if ($function.isNullOrEmpty(value))
		#break;
	#end	
	#set($creator_actor_appellation_s = "#uri('E82_Actor_Appellation' $value)")
	#set($creator_actor_s = "#uri('E39_Actor' $value)")
	#if(!$creation_s || $creation_s == "")
		#set($creation_s = "#uri('E65_Creation' $value)")
		$creation_s $is_a #ecrm('E65_Creation') . 
	#end	
	$creator_actor_appellation_s $is_a #ecrm('E82_Actor_Appellation') . 
	$creator_actor_appellation_s $P3_has_note "$function.escape($value)" . 
	$creator_actor_s $is_a #ecrm('E39_Actor') . 
	$creator_actor_s #ecrm('P131_is_identified_by') $creator_actor_appellation_s . 
	$creation_s #ecrm('P14_carried_out_by') $creator_actor_s . 
	$s #ecrm('P94i_was_created_by') $creation_s . 	
#end
## DATE
#set($dates = $xpath.many("date",$root))
#foreach($d in $dates) 
	#set($date_s = "#new_uri('E50_Date')") 
	$date_s $is_a #ecrm("E50_Date") . 
	$date_s $P3_has_note "$d.textContent" . 
	#set($time_span_s = "#new_uri('E52_Time-Span')") 
	$time_span_s $is_a #ecrm("E52_Time-Span") . 
	$time_span_s #ecrm("P78_is_identified_by") $date_s . 
	#if(!$creation_s || $creation_s == "")
		#set($creation_s = "#new_uri('E65_Creation')") 
		$creation_s $is_a #ecrm('E65_Creation') . 
	#end	
	$creation_s #ecrm("P4_has_time-span") $time_span_s . 
	$s #ecrm("P94i_was_created_by") $creation_s . 
#end
## SOURCE
#set($sources = $xpath.many("source",$root))
#foreach($source in $sources) 
    #set($c = "#new_uri('E24_Physical_Man-Made_Thing')")
    $c $is_a #ecrm('E24_Physical_Man-Made_Thing') . 
    $c $P2_has_type #aliadaconcept("web_resource") . 
    $c $P3_has_note "$function.escape($source.textContent)" . 
    $s #ecrm("P67_refers_to") $c . 
#end    	
## FORMAT
#set($formats = $xpath.many("format",$root))
#foreach($format in $formats) 
	#set($c = "#new_uri('Ε55_Type')")
	$c $is_a #ecrm('Ε55_Type') . 
    $c $P3_has_note "$function.escape($format.textContent)" . 
    $s $P2_has_type $c . 	
#end	
## TYPE
#set($types = $xpath.many("type",$root))
#foreach($type in $types) 
	#set($c = "#new_uri('Ε55_Type')")
	$c $is_a #ecrm('Ε55_Type') . 
    $c $P3_has_note "$function.escape($type.textContent)" . 
    $s $P2_has_type $c . 	
#end	
## SUBJECT
#set($subjects = $xpath.many("subject",$root))
#foreach($subject in $subjects) 
	#set($subject_s = "#uri('E1_CRM_Entity' $subject.textContent)")
	$subject_s $is_a #ecrm('E1_CRM_Entity') . 
	$subject_s $P3_has_note "$function.escape($subject.textContent)" . 
	$s #ecrm('P129_is_about') $subject_s . 
#end
## COVERAGE 
#set($coverages = $xpath.many("coverage",$root))
#foreach($coverage in $coverages) 
	#set($coverage_s = "#uri('E1_CRM_Entity' $coverage.textContent)")
	$coverage_s $is_a #ecrm('E1_CRM_Entity') . 
	$coverage_s $P3_has_note "$function.escape($coverage.textContent)" . 
	$s #ecrm('P129_is_about') $coverage_s . 
#end
## LANGUAGE
#set($languages = $xpath.many("language",$root))
#foreach($language in $languages) 	
	#set($lang_s = "#uri('Ε56_Language' $language.textContent)") . 
	$lang_s $is_a #ecrm('Ε56_Language') . 
	$lang_s $P3_has_note "$function.escape($language.textContent)" . 
	$s #ecrm('P72_has_language') $lang_s . 
#end
## DESCRIPTION
#set($descriptions = $xpath.many("description",$root))
#foreach($description in $descriptions)
	$s $P3_has_note "$function.escape($description.textContent)" . 
#end	
## PUBLISHER
#set($publishers = $xpath.many("publisher",$root))
#foreach($publisher in $publishers) 
	#set($publisher_s = "#uri('E12_Production' $publisher.textContent)") . 	
	#set($publisher_actor_s = "#uri('E39_Actor' $publisher.textContent)") . 	
	#set($publisher_actor_appellation_s = "#uri('E82_Actor_Appellation' $publisher.textContent)") . 	
	$publisher_actor_appellation_s $is_a #ecrm('E82_Actor_Appellation') . 
	$publisher_actor_appellation_s $P3_has_note "$function.escape($publisher.textContent)" . 
	$publisher_actor_s $is_a #ecrm('E39_Actor') . 
	$publisher_actor_s #ecrm('P131_is_identified_by') $publisher_actor_appellation_s . 
	$publisher_s $is_a #ecrm('E12_Production') . 
	$publisher_s #ecrm('P14_carried_out_by') $publisher_actor_s . 
	$s #ecrm('P108i_was_produced_by') $publisher_s . 
#end