## SHORTCUTS
#set($is_a = "#rdf('type')")
#set($E41_Appellation = "#ecrm('E41_Appellation')")
#set($E39_Actor = "#ecrm('E39_Actor')")
#set($P3_has_note = "#ecrm('P3_has_note')")
#set($P2_has_type = "#ecrm('P2_has_type')")
#set($Concept = "#skos('Concept')")
#set($main_subject = "<${mainSubject}>")
#set($lidoClass = $function.lidoClass($cid, $main_subject))
## RECORD ID BEGIN
#set($lidoRecID = $xpath.value("lidoRecID", $root))
#set($appellation_s = "#uri('E41_Appellation' $lidoRecID)")
#set($document_s = "#uri('E31_Document' $lidoRecID)")
$appellation_s $is_a $E41_Appellation .
$appellation_s $P3_has_note "$lidoRecID" .
$document_s $is_a #ecrm("E31_Document") .
$document_s #ecrm("P1_is_identified_by") $appellation_s . 
$main_subject #ecrm("P70i_is_documented_in") $document_s .
#if($lidoClass)
	$main_subject $is_a #ecrm($lidoClass) .
#end	
## RECORD ID END
## WORK TYPE BEGIN
#set($objectWorkTypes = $xpath.many("descriptiveMetadata/objectClassificationWrap/objectWorkTypeWrap/objectWorkType/term",$root))
#foreach($objectWorkType in $objectWorkTypes)
    #ontologyTypeURI($main_subject $P2_has_type $function.escape($objectWorkType.textContent))
#end
## WORK TYPE END
## CLASSIFICATION BEGIN
#set($classifications = $xpath.many("descriptiveMetadata/objectClassificationWrap/classificationWrap/classification/term",$root))
#foreach($classification in $classifications)
	#ontologyTypeURI($main_subject $P2_has_type $function.escape($classification.textContent))
#end
## CLASSIFICATION END
## OBJECT ID BEGIN
#set($titles = $xpath.many("descriptiveMetadata/objectIdentificationWrap/titleWrap/titleSet/appellationValue",$root))
#foreach($title in $titles)
	#set($value = $function.escape($title.textContent))
	#set($appellation_s = "#uri('E41_Appellation' $value)")
    $appellation_s $is_a $E41_Appellation .
    $appellation_s $P3_has_note "$value" .
	$main_subject #ecrm("P1_is_identified_by") $appellation_s .
#end	
## OBJECT ID END
## OBJECT INSCRIPTIONS BEGIN
#set($inscriptions = $xpath.many("descriptiveMetadata/objectIdentificationWrap/inscriptionsWrap/inscriptions/inscriptionDescription/descriptiveNoteValue",$root))
#foreach($inscription in $inscriptions)
	#set($inscval = $function.escape($inscription.textContent))
	#set($P65_shows_visual_item = "#ecrm('P65_shows_visual_item')")
   	#set($inscription_name_s = "#uri_with_strong_normalization('E36_Visual_Item' $inscval)")
   	$inscription_name_s $is_a #ecrm("E36_Visual_Item") .
	$inscription_name_s $P3_has_note "$inscval" .
	$main_subject $P65_shows_visual_item $inscription_name_s .
#end	
## OBJECT INSCRIPTIONS END
## REPOSITORY BEGIN
#set($repository = $xpath.one("descriptiveMetadata/objectIdentificationWrap/repositoryWrap/repositorySet/repositoryName",$root))
#legalBody($repository $main_subject "#ecrm('P50_has_current_keeper')")
## REPOSITORY LOCATION BEGIN
#set($repositoryLocation = $xpath.one("descriptiveMetadata/objectIdentificationWrap/repositoryWrap/repositorySet/repositoryLocation", $root))
#if ($repositoryLocation)
    #set($address = $xpath.one("namePlaceSet/appellationValue", $repositoryLocation))
    #if ($address)
		#set($E53_Place = "#ecrm('E53_Place')")
		#set($P87_is_identified_by = "#ecrm('P87_is_identified_by')")
		#set($value = $function.escape($address.textContent))
    	#set($address_name_s = "#uri_with_strong_normalization('E44_Place_Appellation' $value)")
    	#set($address_s = "#uri_with_strong_normalization('E53_Place' $value)") 	
    	$address_name_s $is_a #ecrm("E44_Place_Appellation") .
    	$address_name_s $P3_has_note "$value" . 
    	$address_s $is_a $E53_Place .
    	$address_s $P87_is_identified_by $address_name_s . 
    	$main_subject #ecrm("P53_has_former_or_current_location") $address_s .
##  	
        #set($coordinates = $xpath.one("gml/Point/pos", $repositoryLocation))
        #if($coordinates)
    		#set($lat_lon = $function.asList($function.escape($coordinates.textContent.trim().split(" "))))
			#if($lat_lon && $lat_lon.size() == 2)
				$address_s #wgs("lat") "$lat_lon.get(0)"^^<http://www.w3.org/2001/XMLSchema#double> .
				$address_s #wgs("long") "$lat_lon.get(1)"^^<http://www.w3.org/2001/XMLSchema#double> . 
			#end	
        #end	
##		
		#set($places = $xpath.many("partOfPlace/namePlaceSet/appellationValue", $repositoryLocation))
		#set($E44_Place_Appellation = "#ecrm('E44_Place_Appellation')")
		#set($P89i_contains = "#ecrm('P89i_contains')")
		#foreach ($place in $places)
			#set($value = $function.escape($place.textContent))
			#set($place_appellation_s = "#uri('E44_Place_Appellation' $value)")
			#set($place_s = "#uri('E53_Place' $value)")	
			$place_appellation_s $is_a $E44_Place_Appellation .
			$place_appellation_s $P3_has_note "$value" . 
			$place_s $is_a $E53_Place .
			$place_s $P87_is_identified_by $place_appellation_s . 
			$place_s $P89i_contains $address_s . 
		#end
    #end    
#end
## REPOSITORY LOCATION END
## OBJECT DISPLAY STATE BEGIN
#set($displayStates = $xpath.many("descriptiveMetadata/objectIdentificationWrap/displayStateEditionWrap/displayState",$root))
#foreach($displayState in $displayStates)
	#set($value = $function.escape($displayState.textContent))
	$main_subject $P3_has_note "$value" .
#end	
## OBJECT DISPLAY STATE END
## OBJECT DISPLAY EDITION BEGIN
#set($displayEditions = $xpath.many("descriptiveMetadata/objectIdentificationWrap/displayStateEditionWrap/displayEdition",$root))
#foreach($displayEdition in $displayEditions)
	#set($value = $function.escape($displayEdition.textContent))
	$main_subject $P3_has_note "$value" .
#end	
## OBJECT DISPLAY EDITION END
## OBJECT DESCRIPTION BEGIN
#set($descriptions = $xpath.many("descriptiveMetadata/objectIdentificationWrap/objectDescriptionWrap/objectDescriptionSet/descriptiveNoteValue",$root))
#foreach($description in $descriptions)
	#set($descval = $function.escape($description.textContent))
	$main_subject $P3_has_note "$descval" .
#end	
#mn_it_lido_ner($descriptions $main_subject)
## OBJECT DESCRIPTION END
## OBJECT MEASUREMENT START
#set($objectMeasurementsSets = $xpath.many("descriptiveMetadata/objectIdentificationWrap/objectMeasurementsWrap/objectMeasurementsSet", $root))
#foreach($objectMeasurementsSet in $objectMeasurementsSets)
	#set($displayObjectMeasurements = $xpath.one("displayObjectMeasurements", $objectMeasurementsSet))
	#if ($displayObjectMeasurements)
		$main_subject $P3_has_note "$function.escape($displayObjectMeasurements.textContent)" . 
	#end	
	#set($E58_Measurement_Unit = "#ecrm('E58_Measurement_Unit')")
	#set($E54_Dimension = "#ecrm('E54_Dimension')")
	#set($measurementsSets = $xpath.many("objectMeasurements/measurementsSet", $objectMeasurementsSet))
	#foreach($measurementsSet in $measurementsSets)
		#set($measurementUnit = $xpath.one("measurementUnit", $measurementsSet))
		#set($m_unit = $function.escape($measurementUnit.textContent))
		#if ($measurementUnit)
			#set($unit_s = "#uri('E58_Measurement_Unit' $m_unit)")
			$unit_s $is_a $E58_Measurement_Unit . 
			$unit_s $P3_has_note "$m_unit" . 	
		#end	
		#set($measurementType = $xpath.one("measurementType", $measurementsSet))
		#set($measurementValue = $xpath.one("measurementValue", $measurementsSet))					
		#if($measurementType && $measurementValue)
			#set($m_type = $function.escape($measurementType.textContent))
			#set($type_s = "#new_uri('E54_Dimension')")
			$type_s $is_a $E54_Dimension . 
			$type_s $P3_has_note "$m_type" . 
			$type_s #ecrm("P91_has_unit") $unit_s . 
			$type_s #ecrm("P90_has_value") "$function.escape($measurementValue.textContent)" .
			$main_subject #ecrm("P43_has_dimension") $type_s .	
		#end	
	#end	
	#set($formatMeasurements = $xpath.many("objectMeasurements/formatMeasurements", $objectMeasurementsSet))
	#foreach($formatMeasurement in $formatMeasurements)
		#set($type_s = "#new_uri('E54_Dimension')")
		$type_s $is_a $E54_Dimension . 
		$type_s $P3_has_note "Format" . 
		$type_s #ecrm("P90_has_value") "$function.escape($formatMeasurement.textContent)" .
		$main_subject #ecrm("P43_has_dimension") $type_s .	
	#end	
	#set($shapeMeasurements = $xpath.many("objectMeasurements/shapeMeasurements", $objectMeasurementsSet))
	#foreach($shapeMeasurement in $shapeMeasurements)
		#set($type_s = "#new_uri('E54_Dimension')")
		$type_s $is_a $E54_Dimension . 
		$type_s $P3_has_note "Shape" . 
		$type_s #ecrm("P90_has_value") "$function.escape($shapeMeasurement.textContent)" .
		$main_subject #ecrm("P43_has_dimension") $type_s .	
	#end	
	#set($scaleMeasurements = $xpath.many("objectMeasurements/scaleMeasurements", $objectMeasurementsSet))
	#foreach($scaleMeasurement in $scaleMeasurements)
		#set($type_s = "#new_uri('E54_Dimension')")
		$type_s $is_a $E54_Dimension . 
		$type_s $P3_has_note "Scale" . 
		$type_s #ecrm("P90_has_value") "$function.escape($scaleMeasurement.textContent)" .
		$main_subject #ecrm("P43_has_dimension") $type_s .	
	#end	
#end	
## OBJECT MEASUREMENT END
## EVENTS START
## EVENT TYPES START
#set($events = $xpath.many("descriptiveMetadata/eventWrap/eventSet/event", $root))
#set($E65_Creation = "#ecrm('E65_Creation')")
#set($P12i_was_present_at = "#ecrm('P12i_was_present_at')")
#foreach($event in $events)
	#set($event_type_s = "#new_uri('E65_Creation')")
	$event_type_s $is_a $E65_Creation . 
	$main_subject $P12i_was_present_at $event_type_s . 
	## EVENT ACTORS START
	#set($actors = $xpath.many("eventActor", $event))
	#foreach($actor in $actors)
		#set($author_s = "")
		#set($displaysActorInRole = $xpath.many("displayActorInRole", $actor))
		#if($event_type_s)
    		#foreach($displayLabel in $displaysActorInRole)
				$event_type_s $P3_has_note "$function.escape($displayLabel.textContent)" . 
    		#end	
		#end	
		#set($actorInRole = $xpath.one("actorInRole", $actor))
		#set($actor = $xpath.one("actorInRole/actor", $actor))
		#set($actor_identifiers = $xpath.many("actorID[@lido:type='local']", $actor))
		#foreach($actor_identifier in $actor_identifiers)
			#set($value = $function.escape($actor_identifier.textContent))
			#set($id_s = "#uri('E42_Identifier' $value)")
			#if(!$author_s || $author_s == "")
				#set($author_s = "#uri('E39_Actor' $value)")
				$author_s $is_a $E39_Actor .
			#end	
			$id_s $is_a #ecrm('E42_Identifier') .
			$id_s $P3_has_note "$value" . 
			$id_s $P2_has_type #aliada('LocalIdentifier') . 
			$author_s #ecrm('P48_has_preferred_identifier') $id_s .
		#end	
		#set($actor_identifiers = $xpath.many("actorID[@lido:source='VIAF']", $actor))
		#foreach($actor_identifier in $actor_identifiers)
			#set($value = $function.escape($actor_identifier.textContent))
			#set($id_s = "#uri_with_fragment('E42_Identifier' $value)")
			#if(!$author_s || $author_s == "")
				#set($author_s = "#uri_with_fragment('E39_Actor' $value)")
				$author_s $is_a $E39_Actor .
			#end	
			$id_s $is_a #ecrm('E42_Identifier') .
			$id_s $P3_has_note "$value" . 
			$id_s $P2_has_type #aliada('VIAFIdentifier') . 
			$author_s #ecrm('P48_has_preferred_identifier') $id_s .
		#end		
		#if ($author_s && $author_s.trim().length() > 0)
 			$event_type_s #ecrm('P11_had_participant') $author_s .
    		#set($actor_names = $xpath.many("nameActorSet/appellationValue[@lido:pref='preferred']", $actor))
    		#foreach($actor_name in $actor_names)
    			#set($value = $function.escape($actor_name.textContent))
    			#set($actor_name_s = "#uri('E82_Actor_Appellation' $value)")
    			$actor_name_s $is_a #ecrm("E82_Actor_Appellation") . 
    			$actor_name_s $P3_has_note "$value" .
				$author_s #ecrm('P131_is_identified_by') $actor_name_s . 
    		#end 	
    		#set($actor_nationalities = $xpath.many("nationalityActor/term",$actor))
    		#foreach($nationality in $actor_nationalities)
    			#set($value = $function.escape($nationality.textContent))
    			#set($nationality_s = "#uri('E82_Actor_Appellation' $value)")
    			#set($group_s = "#uri('E74_Group' $value)")
    			$nationality_s $is_a #ecrm('E82_Actor_Appellation') . 
    			$nationality_s $P3_has_note "$value" .
    			$group_s $is_a #ecrm('E74_Group') . 
    			$group_s #ecrm('P131_is_identified_by') $nationality_s . 
    			$author_s #ecrm('P107i_is_current_or_former_member_of') $group_s . 
    		#end	
			#set($earliest_date = $xpath.one("vitalDatesActor/earliestDate",$actor))
			#set($latest_date = $xpath.one("vitalDatesActor/latestDate",$actor))
			#if ($function.isNotNullAnrdfStoredNotEmpty("$function.escape($earliest_date.textContent)") || $function.isNotNullAnrdfStoredNotEmpty("$function.escape($latest_date.textContent)"))
				#set($time_span_s = "#new_uri('E52_Time-Span')")
				#set($time_span_event_s = "#new_uri('E5_Event')")
				$time_span_s $is_a #ecrm("E52_Time-Span") . 
				#if ($function.isNotNullAnrdfStoredNotEmpty("$function.escape($earliest_date.textContent)"))
					$time_span_s #ecrm("P79_beginning_is_qualified_by") "$function.escape($earliest_date.textContent)" . 
				#end	
				#if ($function.isNotNullAnrdfStoredNotEmpty("$function.escape($latest_date.textContent)"))
					$time_span_s #ecrm("P80_end_is_qualified_by") "$function.escape($latest_date.textContent)" . 
				#end	
				$time_span_event_s $is_a #ecrm("E5_Event") . 
				$time_span_event_s $P2_has_type #aliada("Existance") . 
				$time_span_event_s #ecrm("P4_has_time-span") $time_span_s . 
				$author_s #ecrm("P11i_participated_in") $time_span_event_s .
			#end
    		#set($actor_roles = $xpath.many("roleActor/term",$actorInRole))
    		#foreach($actor_role in $actor_roles)
    			#set($value = $function.escape($actor_role.textContent))
    			$author_s $P3_has_note "$value" .
    		#end
		#end	
	#end	
	## EVENT ACTORS END
	## CULTURAL CONTEXT START
	#set($cultures = $xpath.many("culture/term", $event))
	#foreach($culture in $cultures)
		#if($event_type_s)
			#set($period_s = "#new_uri('E4_Period')")
			$period_s $is_a #ecrm("E4_Period") . 
			$period_s $P3_has_note "$function.escape($culture.textContent)" . 
			$event_type_s #ecrm("P10_falls_within") $period_s . 
		#end	
	#end	
	## CULTURAL CONTEXT END
	## EVENT DATE START
	#set($dates = $xpath.many("eventDate", $event))
	#foreach($date in $dates)
		#set($displayDate = $xpath.many("displayDate", $date))
		#if($event_type_s)
    		#foreach($displayLabel in $displayDate)
				$event_type_s $P3_has_note "$function.escape($displayLabel.textContent)" . 
    		#end	
		#end
		#set($earliest_date = $xpath.one("date/earliestDate",$date))
		#set($latest_date = $xpath.one("date/latestDate",$date))
		#if ($function.isNotNullAnrdfStoredNotEmpty("$function.escape($earliest_date.textContent)") || $function.isNotNullAnrdfStoredNotEmpty("$function.escape($latest_date.textContent)"))
			#set($time_span_s = "#new_uri('E52_Time-Span')")
			$time_span_s $is_a #ecrm("E52_Time-Span") . 
			#if ($function.isNotNullAnrdfStoredNotEmpty("$function.escape($earliest_date.textContent)"))
				$time_span_s #ecrm("P79_beginning_is_qualified_by") "$function.escape($earliest_date.textContent)" . 
			#end	
			#if ($function.isNotNullAnrdfStoredNotEmpty("$function.escape($latest_date.textContent)"))
				$time_span_s #ecrm("P80_end_is_qualified_by") "$function.escape($latest_date.textContent)" . 
			#end	
			#if($event_type_s)
				$event_type_s #ecrm("P4_has_time-span") $time_span_s . 
    		#end	
		#end
	#end	
	## EVENT DATE END
	## EVENT PLACE START
	#set($eventPlaces = $xpath.many("eventPlace", $event))
	#foreach($eventPlace in $eventPlaces)
		#set($displayPlace = $xpath.many("displayPlace", $eventPlace))
		#if($event_type_s)
    		#foreach($displayLabel in $displayPlace)
				$event_type_s $P3_has_note "$function.escape($displayLabel.textContent)" . 
    		#end	
		#end
		#set($place = $xpath.one("place", $eventPlace))
		#if ($place)
			#set($address = $xpath.one("namePlaceSet/appellationValue", $place))
			#if ($address)
				#set($E53_Place = "#ecrm('E53_Place')")
				#set($P87_is_identified_by = "#ecrm('P87_is_identified_by')")
				#set($value = $function.escape($address.textContent))
				#set($address_name_s = "#uri_with_strong_normalization('E44_Place_Appellation' $value)")
				#set($address_s = "#uri_with_strong_normalization('E53_Place' $value)") 	
				$address_name_s $is_a #ecrm("E44_Place_Appellation") .
				$address_name_s $P3_has_note "$value" . 
				$address_s $is_a $E53_Place .
				$address_s $P87_is_identified_by $address_name_s . 
				$event_type_s #ecrm("P7_took_place_at") $address_s .
		##  	
				#set($coordinates = $xpath.one("gml/Point/pos", $place))
				#if($coordinates)
					#set($lat_lon = $function.asList($function.escape($coordinates.textContent.trim().split(" "))))
					#if($lat_lon && $lat_lon.size() == 2)
						$address_s #wgs("lat") "$lat_lon.get(0)"^^<http://www.w3.org/2001/XMLSchema#double> .
						$address_s #wgs("long") "$lat_lon.get(1)"^^<http://www.w3.org/2001/XMLSchema#double> . 
					#end	
				#end	
		##		
				#set($places = $xpath.many("partOfPlace/namePlaceSet/appellationValue", $place))
				#set($E44_Place_Appellation = "#ecrm('E44_Place_Appellation')")
				#set($P89i_contains = "#ecrm('P89i_contains')")
				#foreach ($place in $places)
					#set($value = $function.escape($place.textContent))
					#set($place_appellation_s = "#uri('E44_Place_Appellation' $value)")
					#set($place_s = "#uri('E53_Place' $value)")	
					$place_appellation_s $is_a $E44_Place_Appellation .
					$place_appellation_s $P3_has_note "$value" . 
					$place_s $is_a $E53_Place .
					$place_s $P87_is_identified_by $place_appellation_s . 
					$place_s $P89i_contains $address_s . 
				#end
			#end    
		#end
	#end
	## EVENT PLACE END
	## EVENT MATERIALS TECH START
	#set($materials = $xpath.many("eventMaterialsTech", $event))
	#foreach($material in $materials)
		#set($displayMaterialsTech = $xpath.many("displayMaterialsTech", $material))
		#if($event_type_s)
    			#foreach($displayMaterial in $displayMaterialsTech)
				$event_type_s $P3_has_note "$function.escape($displayMaterial.textContent)" . 
    			#end	
		#end
	#end	
	## EVENT MATERIALS TECH END
	## EVENT DESCRIPTION SET START
	#set($descriptionSets= $xpath.many("eventDescriptionSet", $event))
	#foreach($descriptionSet in $descriptionSets)
		#set($descriptions= $xpath.many("descriptiveNoteValue", $descriptionSet))
		#if($event_type_s)
    			#foreach($description in $descriptions)
				$event_type_s $P3_has_note "$function.escape($description.textContent)" . 
	    		#end	
		#end
	#end	
	## EVENT DESCRIPTION SET END
#end	
## EVENT TYPES END
## EVENTS END
## RIGHT WORK START
#set($credit_lines = $xpath.many("administrativeMetadata/rightsWorkWrap/rightsWorkSet/creditLine", $root))
#foreach($credit_line in $credit_lines)
	#set($value = $function.escape($credit_line.textContent))
	#set($credit_line_s = "#uri('E30_Right' $value)")
	$credit_line_s $is_a #ecrm('E30_Right') . 
	$credit_line_s $P3_has_note "$value" . 
	$main_subject  #ecrm('P104_is_subject_to') $credit_line_s .	
#end	
## RIGHT WORK END
## RECORD WRAP START
#set($recordWrap = $xpath.one("administrativeMetadata/recordWrap", $root))
#if ($recordWrap)
	#set($recordID = $xpath.one("recordID", $recordWrap))
	#if($recordID)
		## RECORD ID START
		#set($value = $function.escape($recordID.textContent))
		#set($record_document_s = "#uri('E31_Document' $value)")
		#set($record_identifier_s = "#uri('E42_Identifier' $value)")
		$record_identifier_s $is_a #ecrm('E42_Identifier') . 
		$record_identifier_s $P3_has_note "$value" . 
		$record_document_s $is_a #ecrm('E31_Document') . 
		$record_document_s #ecrm('P48_has_preferred_identifier') $record_identifier_s .
		$main_subject #ecrm('P70i_is_documented_in') $record_document_s . 
		## RECORD ID END
		## RECORD SOURCE START
        #set($recordSources = $xpath.many("recordSource",$recordWrap))
		#foreach($recordSource in $recordSources)
			#legalBody($recordSource $record_document_s "#ecrm('P67_refers_to')")		
		#end 	
		## RECORD SOURCE END
		## RIGHTS HOLDER START
		#set($rightsHolders = $xpath.many("recordRights/rightsHolder",$recordWrap))
		#foreach($rightsHolder in $rightsHolders)
			#set($right_s = "#new_uri('E30_Right')")
			$right_s $is_a #ecrm('E30_Right') . 
			$record_document_s #ecrm('P104_is_subject_to') $right_s .
			#legalBody($rightsHolder $right_s "#ecrm('P75i_is_possessed_by')")		
		#end 	
		## RIGHTS HOLDER END
		## INFO LINK START
		#set($recordInfoLinks = $xpath.many("recordInfoSet/recordInfoLink",$recordWrap))
		#foreach($recordInfoLink in $recordInfoLinks)
			#set($value = $function.escape($recordInfoLink.textContent))
			#set($link_s = "#uri('E36_Visual_Item' $function.escape($recordID.textContent))")
			$link_s $is_a #ecrm('E36_Visual_Item') . 
			$link_s $P2_has_type #aliada('HTMLrepresentation') . 
			$link_s $P3_has_note "$value" . 
			$main_subject #ecrm('P138i_has_representation') $link_s . 
		#end
		## INFO LINK END
	#end	
#end
## RECORD WRAP END
## RESOURCE WRAP START
#set($resourceSets = $xpath.many("administrativeMetadata/resourceWrap/resourceSet", $root))
#foreach($resource in $resourceSets)
	#set($resourceID = $xpath.one("resourceID", $resource))
	#if($resourceID)
		## RESOURCE ID START
		#set($resource_id = $function.escape($resourceID.textContent))
		#set($resource_id_s = "#uri('E36_Visual_Item' $resource_id)")
		#set($resource_identifier_s = "#uri('E42_Identifier' $resource_id)")
		$resource_identifier_s $is_a #ecrm('E42_Identifier') . 
		$resource_identifier_s $P3_has_note "$resource_id" . 
		$resource_id_s $is_a #ecrm('E36_Visual_Item') . 
		$main_subject #ecrm('P138i_has_representation') $resource_id_s . 
		$resource_id_s #ecrm('P48_has_preferred_identifier') $resource_identifier_s . 
		## RESOURCE ID END
		## RESOURCE REPRESENTATION START
		#set($linkResources = $xpath.many("resourceRepresentation/linkResource",$resource))
		#foreach($linkResource in $linkResources)
			#set($linkResourceText = $function.escape($linkResource.textContent))
			#set($uri = "#uri('E75_Conceptual_Object_Appellation' $resource_id)")
			$uri $is_a #ecrm('E75_Conceptual_Object_Appellation') . 
			$uri $P3_has_note "$linkResourceText" . 
			#set($information_obj_s = "#uri('E73_Information_Object' $resource_id)")
			$information_obj_s $is_a #ecrm('E73_Information_Object') . 
			$information_obj_s $P2_has_type #aliadaconcept('web_resource') . 
			$information_obj_s #ecrm('P149_is_identified_by') $uri . 
			$resource_id_s #ecrm('P129i_is_subject_of') $information_obj_s .
		#end 	
		## RESOURCE REPRESENTATION END		
		## RESOURCE TYPE START
		#set($resourceType = $xpath.one("resourceType/term", $resource))
		#if($resourceType)
			$resource_id_s $P2_has_type #aliada($function.escape($resourceType.textContent)) . 
		#end 	
		## RESOURCE TYPE END
		## RIGHTS RESOURCES START
		#set($rightsResources = $xpath.many("rightsResource",$resource))
		#foreach($rightsResource in $rightsResources)
			#set($right_s = "#new_uri('E30_Right')")
			$right_s $is_a #ecrm('E30_Right') . 
			$resource_id_s #ecrm('P104_is_subject_to') $right_s . 
			#set($creditLine = $xpath.one("creditLine", $rightsResource))
			#if($creditLine)
				$right_s $P3_has_note "$function.escape($creditLine.textContent)" .
			#end	
			#set($rightsTypes = $xpath.many("rightsType", $rightsResource))
			#foreach($rightsType in $rightsTypes)
				#set($conceptID = $xpath.one("conceptID[@lido:type='URL']",$rightsType))
				#if ($conceptID)
					#set($term = $xpath.one("term",$rightsType))			
					#if ($term)
						#set($termText = $function.escape($term.textContent))
						#set($type_s = "#uri('E55_Type' $termText)")
						$type_s $is_a #ecrm('E55_Type') . 
						$right_s $P2_has_type $type_s . 
						#set($conceptual_appellation_s = "#uri('E75_Conceptual_Object_Appellation' $termText)")
						#set($information_object_s = "#uri('E73_Information_Object' $termText)")
						$conceptual_appellation_s $is_a #ecrm('E75_Conceptual_Object_Appellation') . 
						$conceptual_appellation_s $P3_has_note "$function.escape($conceptID.textContent)" . 
						$information_object_s $is_a #ecrm('E73_Information_Object') . 
						$information_object_s $P2_has_type #aliadaconcept('web_resource') . 
						$information_object_s #ecrm('P149_is_identified_by') $conceptual_appellation_s . 
						$right_s #ecrm('P129i_is_subject_of') $information_object_s . 
					#end	
				#end	
			#end	
			#set($rightsHolders = $xpath.many("rightsHolder",$rightsResource))
			#foreach($rightsHolder in $rightsHolders)
				#legalBody($rightsHolder $right_s "#ecrm('P75i_is_possessed_by')")		
			#end
		#end
		## RIGHTS RESOURCES END
	#end	
#end	
## RESOURCE WRAP END
