#set($Concept = "#skos('Concept')")
#set($work_s ="#uri('F1_Work' $frbr.workID)")
#set($expression_s = "#uri('F2_Expression' $frbr.expressionID)")
#set($manifestation_s = "#uri('F3_Manifestation_Product_Type' $frbr.manifestationID)")
#set($is_a = "#rdf('type')")
#set($P1_is_identified_by = "#ecrm('P1_is_identified_by')")	
#set($P3_has_note = "#ecrm('P3_has_note')")
#set($P2_has_type = "#ecrm('P2_has_type')")
#set($P149_is_identified_by = "#ecrm('P149_is_identified_by')")
#set($E55_Type = "#ecrm('E55_Type')")
#set($CLP2_should_have_type = "#efrbroo('CLP2_should_have_type')")
#set($E35_Title = "#ecrm('E35_Title')")
#set($P102_has_title = "#ecrm('P102_has_title')")
#set($E90_Symbolic_Object = "#ecrm('E90_Symbolic_Object')")
#set($F13_Identifier = "#ecrm('F13_Identifier')")
#set($F27_Work_Conception = "#efrbroo('F27_Work_Conception')")
#set($R16i_was_initiated_by = "#efrbroo('R16i_was_initiated_by')")
#set($E53_Place = "#ecrm('E53_Place')")
#set($E27_Site = "#ecrm('E27_Site')")
#set($P129_is_about = "#ecrm('P129_is_about')")
#set($E47_Spatial_Coordinates = "#ecrm('E47_Spatial_Coordinates')")
#set($P59i_is_located_on_or_within = "#ecrm('P59i_is_located_on_or_within')")
#set($P87_is_identified_by = "#ecrm('P87_is_identified_by')")
#set($F4_Manifestation_Singleton = "#efrbroo('F4_Manifestation_Singleton')")
#set($P104_is_subject_to = "#ecrm('P104_is_subject_to')")
#set($P74_has_current_or_former_residence  = "#ecrm('P74_has_current_or_former_residence')")
#set($E44_Place_Appellation  = "#ecrm('E44_Place_Appellation')")
#set($P14i_performed  = "#ecrm('P14i_performed')")
#set($P103_was_intended_for  = "#ecrm('P103_was_intended_for')")
#set($F24_Publication_Expression = "#efrbroo('F24_Publication_Expression')")
#set($E82_Actor_Appellation = "#ecrm('E82_Actor_Appellation')")

$work_s $is_a #efrbroo('F1_Work') . 
$work_s $is_a #ecrm("E89_PropositionalObject") . 
$expression_s $is_a #efrbroo('F2_Expression') . 
$manifestation_s $is_a #efrbroo('F3_Manifestation_Product_Type') . 
$expression_s $is_a #efrbroo('E89_PropositionalObject') .
$expression_s $is_a #ecrm('E33_Linguistic_Object') . 
$work_s #efrbroo('R40_has_representative_expression') $expression_s . 
$expression_s #efrbroo('R4_carriers_provided_by') $manifestation_s . 

## MANIFESTATION
#set($_100 = $xpath.df("100","a",$root))
#if($_100)
	#set($txt = $_100.textContent)
	#if($txt && $txt.length() >= 14)
    	#set($v = $txt.substring(9,13))
    	#if($function.isNumber($v))
        	#four(
        		$manifestation_s 
        		"#ecrm('CLR6_should_carry')" 
        		$F24_Publication_Expression 
        		"F24_Publication_Expression" 
        		"#ecrm('P148_has_component')" 
        		"#ecrm('E33_Linguistic_Object')" 
        		"E33_Linguistic_Object" 
        		$P2_has_type 
        		$E55_Type
        		"E55_Type" 
        		$P3_has_note 
        		$v)
    	#end		
	#end	
	#if($txt && $txt.length() >= 18)
    	#set($v = $txt.substring(13,17))
    	#if($function.isNumber($v))
        	#four(
        		$manifestation_s 
        		"#ecrm('CLR6_should_carry')" 
        		$F24_Publication_Expression 
        		"F24_Publication_Expression" 
        		"#ecrm('P148_has_component')" 
        		"#ecrm('E33_Linguistic_Object')" 
        		"E33_Linguistic_Object" 
        		$P2_has_type 
        		$E55_Type
        		"E55_Type" 
        		$P3_has_note 
        		$v)	
    	#end		
	#end	
#end
#set($_102 = $xpath.df("102","a",$root))
#if($_102)
	#set($txt = $_102.textContent)
	#if($txt && $txt.length() >= 18)
    	#set($v = $txt.substring(9,13))
    	#if($function.isNumber($v))
        	#four(
        		$manifestation_s 
        		"#ecrm('CLR6_should_carry')" 
        		$F24_Publication_Expression 
        		"F24_Publication_Expression" 
        		"#ecrm('P148_has_component')" 
        		"#ecrm('E33_Linguistic_Object')" 
        		"E33_Linguistic_Object" 
        		$P2_has_type 
        		$E55_Type
        		"E55_Type" 
        		$P3_has_note 
        		$v)
		#end
	#end	
#end	

## EXPRESSION
#set($_101a = $xpath.df("101","a",$root))
#set($_101c = $xpath.df("101","c",$root))
#if ($_101a && $_101c)
	#simplest_mapping_with_no_repeatable_tag($expression_s "101" "a" $root "E56_Language" "#ecrm('E56_Language')" "#ecrm('P72_has_language')")
#end

## PERSON
#if ($frbr.personID && !$frbr.personID.isEmpty())
	#foreach($entry in $frbr.personID.entrySet())
		#set($tag = $entry.getKey())
		#set($uris = $entry.getValue())
		#if ($uris && !$uris.isEmpty())
			#set($fields = $xpath.many("datafield[@tag='${tag}']",$root))
			#foreach($uri in $uris)
				#set($field = $fields.get($velocityCount))
				#if ($field)
	        		#set($person_s = "#uri_literal('E21_Person' $uri)")
	        		$person_s $is_a #ecrm('E21_Person') .
					#set($name = $xpath.combine($field, "abdcg"))
					#one($person_s "#ecrm('P131_is_identified_by')" $E82_Actor_Appellation "E82_Actor_Appellation" $P3_has_note $name)
					#set($v = $xpath.combine($field, "f"))
					#two(
						$person_s 
						"#ecrm('P131_is_identified_by')" 
						"#ecrm('F50_Controlled_Access_Point')" 
						"F50_Controlled_Access_Point" 
						"#ecrm('R8_consists_of')" 
						"#ecrm('E90_Symbolic_Object')" 
						"E90_Symbolic_Object" 
						$P3_has_note 
						$v)
					#set($v = $xpath.combine($field, "p"))	
                    #if($function.isNotNullAndNotEmpty($v)) 
						#one($person_s "#ecrm('P107i_is_current_or_former_member')" "#ecrm('E74_Group')" "E74_Group" $P3_has_note $v)
                    #end	
				#end	
			#end	
    	#end	
	#end	
#end	
## CORPORATE BODY
#if ($frbr.corporateBodyID && !$frbr.corporateBodyID.isEmpty())
	#foreach($entry in $frbr.corporateBodyID.entrySet())
		#set($tag = $entry.getKey())
		#set($uris = $entry.getValue())
		#if ($uris && !$uris.isEmpty())
			#set($fields = $xpath.many("datafield[@tag='${tag}']",$root))
			#foreach($uri in $uris)
				#set($field = $fields.get($velocityCount))
				#if ($field)
	        		#set($corporate_body_s = "#uri_literal('F11_Corporate_Body' $uri)")
	        		$corporate_body_s $is_a #efrbroo('F11_Corporate_Body')
					#set($name = $xpath.combine($field, "a"))
					#one($corporate_body_s "#ecrm('P131_is_identified_by')" $E82_Actor_Appellation "E82_Actor_Appellation" $P3_has_note $name)
					#set($v = $xpath.combine($field, "b"))
					#two(
						$corporate_body_s 
						"#ecrm('P131_is_identified_by')" 
						"#ecrm('F50_Controlled_Access_Point')" 
						"F50_Controlled_Access_Point" 
						"#ecrm('R8_consists_of')" 
						"#ecrm('E90_Symbolic_Object')" 
						"E90_Symbolic_Object" 
						$P3_has_note 
						$v)
					#set($v = $xpath.combine($field, "e"))
					#two(
						$corporate_body_s 
						"#ecrm('P131_is_identified_by')" 
						"#ecrm('F50_Controlled_Access_Point')" 
						"F50_Controlled_Access_Point" 
						"#ecrm('R8_consists_of')" 
						"#ecrm('E90_Symbolic_Object')" 
						"E44_Place_Appellation" 
						$P3_has_note 
						$v)		
					#set($v = $xpath.combine($field, "f"))
					#two(
						$corporate_body_s 
						"#ecrm('P131_is_identified_by')" 
						"#ecrm('F50_Controlled_Access_Point')" 
						"F50_Controlled_Access_Point" 
						"#ecrm('R8_consists_of')" 
						"#ecrm('E90_Symbolic_Object')" 
						"E50_Date" 
						$P3_has_note 
						$v)							
					#set($v = $xpath.combine($field, "p"))	
                    #if($function.isNotNullAndNotEmpty($v)) 
						#one($corporate_body_s "#ecrm('P107i_is_current_or_former_member')" "#ecrm('E74_Group')" "E74_Group" $P3_has_note $v)
                    #end	
				#end	
			#end	
    	#end	
	#end	
#end